#form .group-input{
    width: 100%;
    margin-bottom: 1rem;
    font-weight: bold;
}
#form .group-input input{
    width: 100%;
    border: none;
    border-bottom: 1px solid aqua;
    outline: none;
}
#form .group-input  label{
    margin: 0;
}