.task-item{
    position: relative;
    min-height: 150px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    padding: 10px;
    margin-bottom: 2rem;
}
.task-item .status{
    position: absolute;
    top: 10px;
    right: 10px;
}
.task-item .action{
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.task-item .action i{
    padding: 13px;
    background-color: aquamarine;
    border-radius: 50%;
    background-color: #384f82;
    color: white;
    cursor: pointer;
    transition: 0.5s;
    
}
.task-item .action i:hover{
    background-color: #7693d2;
    transform: scale(1.1);
}
.task-item .action i:nth-child(1){
    margin-right: 5px;
}
.task-item p{
   margin: auto;
}